version: '3.7'

services:
  postgres:
    container_name: fast-gym-api
    image: postgres
    ports:
      - 5434:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=docker
      - POSTGRES_DB=fast-gym
      - PGDATA=/data/postgres
    volumes:
      - ./data/pg:/data/postgres
